html {
  font-size: 16px;
}

html, body {
  padding: 0;
  margin: 0;
}



/* HEADER */


/* LISTING */

.info-sidebar {
  padding: 0 10px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}


.castles-listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.castles-listing li {
  
}

.castle-item {
  padding: 10px 0;
  display: inline-block;
}

.castle-item:visited {
  color: inherit;
}

.castle-item:hover {
  color: blue;
  background-color: grey;
}

/* MAP */

.map-container {
  height: 100vh;
  width: calc(80% - 20px);
  display: inline-block;
  overflow: hidden;
}

#map {
  height: 100%;
}


/* CASTLE DETAILS SECTION */
.castle-details {
  padding: 10px;
}