html {
  font-size: 16px;
}

html, body {
  padding: 0;
  margin: 0;
}



/* HEADER */


/* LISTING */

.info-sidebar {
  padding: 0 10px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  height: 100vh;
}

#castles-search {
  width: 100%;
}

.castles-listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.castle-item {
  padding: 10px 0;
  display: inline-block;
}

.castle-item:hover {
  background-color: #6440ff;
  color: white;
  cursor: pointer;
}

/* MAP */

.map-container {
  height: 100vh;
  width: calc(80% - 20px);
  display: inline-block;
  overflow: hidden;
}

#map {
  height: 100%;
}


/* CASTLE DETAILS SECTION */
.castle-details {
  padding: 10px;
}